- var currentVersion = '?v=1.0.1';
- var BASE_DIR = '/metabounce';

doctype html
html(lang='en')
  head
    title
      | MetaBounce
    meta(charset='utf-8')
    meta(name='description', content='Fun with JavaScript...and bouncing')
    link(rel='shortcut icon', href='#{BASE_DIR}/images/favicon.ico#{currentVersion}')
  body
    script(src='#{BASE_DIR}/scripts/constants.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/util.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/colorShifter.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/touchAnimator.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/ballHandler.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/metaBounce.js#{currentVersion}')

    script(src='#{BASE_DIR}/scripts/parameter-profiles/params-Bubble.js')
    script(src='#{BASE_DIR}/scripts/parameter-profiles/params-Gravity.js')
    script(src='#{BASE_DIR}/scripts/parameter-profiles/params-Growth.js')
    script(src='#{BASE_DIR}/scripts/parameter-profiles/params-MetaBounceDependent.js')
    script(src='#{BASE_DIR}/scripts/parameter-profiles/params-MetaBounceIndependent.js')
    script(src='#{BASE_DIR}/scripts/parameter-profiles/params-MetaBubble.js')
    script(src='#{BASE_DIR}/scripts/parameter-profiles/params-Resistance.js')
    script(src='#{BASE_DIR}/scripts/parameter-profiles/params-Squish.js')
    script(src='#{BASE_DIR}/scripts/parameter-profiles/params-Swarm.js')
    script(src='#{BASE_DIR}/scripts/parameter-profiles/params-TouchOfDeath.js')

    script(src='/home/scripts/googleanalytics.js')