- var currentVersion = '?v=1.0.1';

doctype html
html(lang='en')
  head
    title
      | Welcome to Jackie and Levi's website!

    meta(charset='utf-8')
    meta(name='description', content='Jackie and Levi Lindsey\'s personal website')
    meta(name='viewport', content='width=device-width')

    link(rel='shortcut icon', href='/home/images/favicon.ico#{currentVersion}')
    link(rel='stylesheet', href='/home/stylesheets/jackieandlevi.css#{currentVersion}')
  body
    a#ribbon(href='/wedding/photos')
      img(src='/home/images/wedding_photos_ribbon.png#{currentVersion}', alt='Check out Jackie and Levi\'s wedding photos!')

    h1
      | Welcome to Jackie and Levi's website!

    #venn
      img(src='/home/images/venn.png#{currentVersion}', alt='A Venn diagram of Jackie and Levi')

      #jackieArea
        a#jackie(class='vennItem', href='/jackie')
          img(src='/home/images/jackie_face.png#{currentVersion}', alt='Jackie\'s face')
          h2
            | Visit Jackie's page
      #usArea
        a#wedding(class='vennItem', href='/wedding')
          img(src='/home/images/wedding_card.png#{currentVersion}', alt='Wedding card')
          h2
            | Visit our wedding page
      #leviArea
        a#levi(class='vennItem', href='/levi')
          img(src='/home/images/levi_face.png#{currentVersion}', alt='Levi\'s face')
          h2
            | Visit Levi's page
        a#squaredAway(class='vennItem', href='/squared-away')
          img(src='/home/images/squared_away_logo.png#{currentVersion}', alt='Squared Away logo')
          h2
            | Check out Levi's new web app!

    script(src='/home/home/scripts/googleanalytics.js')
