- var cacheBuster = '.v1.0.1';
- var baseDir = '/profiles-hex-grid';

doctype html
html(lang='en')
  head
    title Levi Lindsey&apos;s portfolio

    meta(charset='utf-8')
    meta(name='description', content='Levi Lindsey\'s portfolio')

    link(rel='icon', type='image/png', href='#{baseDir}/images/favicon-16x16#{cacheBuster}.png', sizes="16x16")
    link(rel='icon', type='image/png', href='#{baseDir}/images/favicon-32x32#{cacheBuster}.png', sizes="32x32")

    link(rel='stylesheet', href='#{baseDir}/styles/hex-grid-example#{cacheBuster}.css')

    script(src='#{baseDir}/scripts/hex-grid-example#{cacheBuster}.js')

  body
    #hex-grid-area

    script
      | #{analyticsScript}

