- var currentVersion = '?v=2.3.0';
- var BASE_DIR = '/wedding';

doctype html
html(lang='en')
  head
    title
      | We&apos;re Getting Married!

    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='description', content='Welcome to Jackie and Levi!  We&apos;re getting married!')
    meta(name='keywords', content='Levi Lindsey, Jackie Schwartzstein, Jackie Lindsey, marriage, wedding')
    meta(name='author', content='Levi Lindsey, Jackie Schwartzstein')

    link(href='#{BASE_DIR}/stylesheets/wedding.css#{currentVersion}', type='text/css', rel='stylesheet')
    link(href='#{BASE_DIR}/images/icon.ico#{currentVersion}', type='image/gif', rel='shortcut icon')
  body
    block content
