- var currentVersion = '?v=2.3.0';
- var BASE_DIR = '/wedding';

doctype html
html(lang='en')
  head
    title
      | Wedding Photos
    meta(charset='utf-8')
    meta(name='description', content='Photos from Jackie and Levi Lindsey&apos;s wedding.')
    link(rel='shortcut icon', href='#{BASE_DIR}/images/favicon.ico#{currentVersion}')
    link(rel='stylesheet', href='#{BASE_DIR}/stylesheets/photolightbox.css#{currentVersion}')
    link(rel='stylesheet', href='#{BASE_DIR}/stylesheets/dropdownphotogrid.css#{currentVersion}')
  body
    div(id='noJavaScriptMsg', class='errorMessage')
      | :( Sorry, but this fancy web app requires JavaScript.

    script.
      // Remove the no-JavaScript message
      var body, noJavaScriptMessage;
      body = document.getElementsByTagName('body')[0];
      noJavaScriptMessage = document.getElementById('noJavaScriptMsg');
      body.removeChild(noJavaScriptMessage);

    script(src='#{BASE_DIR}/scripts/params.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/util.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/log.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/animate.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/progressCircle.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/photoItem.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/photoGroup.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/photoMetadata.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/photoLightbox.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/photoGridCell.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/dropdownPhotoGrid.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/photoGridCollection.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/index.js#{currentVersion}')
