- var currentVersion = '?v=1.0.1';
- var BASE_DIR = '/text-animation';

doctype html
html(lang='en')
  head
    title
      | Text Animation
    meta(charset='utf-8')
    meta(name='description', content='General-purpose, character-by-character animation of text')
    link(rel='shortcut icon', href='#{BASE_DIR}/images/favicon.ico#{currentVersion}')
    link(rel='stylesheet', href='#{BASE_DIR}/stylesheets/index.css#{currentVersion}')
  body
    #main-area
      #buttons
      #recipe
        h1
          | Guacamole
        p
          | Recipe courtesy of &nbsp;
          a(href='http://www.foodnetwork.com/chefs/alton-brown.html', target='_blank')
            | Alton Brown
          | .
        h2
          | Ingredients
        ul
          li
            | 3 Haas avocados, halved, seeded and peeled
          li
            | 1 lime, juiced
          li
            | 1/2 teaspoon kosher salt
          li
            | 1/2 teaspoon ground cumin
          li
            | 1/2 teaspoon cayenne
          li
            | 1/2 medium onion, diced
          li
            | 1/2 jalapeno pepper, seeded and minced
          li
            | 2 Roma tomatoes, seeded and diced
          li
            | 1 tablespoon chopped cilantro
          li
            | 1 clove garlic, minced
        h2
          | Directions
        p
          | In a large bowl place the scooped avocado pulp and lime juice, toss to coat. Drain, and reserve the lime juice, after all of the avocados have been coated. Using a potato masher add the salt, cumin, and cayenne and mash. Then, fold in the onions, jalapeno, tomatoes, cilantro, and garlic. Add 1 tablespoon of the reserved lime juice. Let sit at room temperature for 1 hour and then serve.

    script(src='#{BASE_DIR}/scripts/text-animation/util.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/text-animation/start-to-end-animation/AnimationElementNode.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/text-animation/start-to-end-animation/AnimationTextNode.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/text-animation/start-to-end-animation/CharacterAnimation.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/text-animation/start-to-end-animation/TextAnimationJob.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/text-animation/textAnimator.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/config.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/index.js#{currentVersion}')
    script(src='/home/scripts/googleanalytics.js')
