- var currentVersion = '?v=1.0.1';
- var BASE_DIR = '/progress-circle';

doctype html
html(lang='en')
  head
    title
      | Progress Circle
    meta(charset='utf-8')
    meta(name='description', content='A progress circle!')
    link(rel='stylesheet', href='#{BASE_DIR}/stylesheets/index.css#{currentVersion}')
    link(rel='shortcut icon', href='#{BASE_DIR}/images/favicon.ico#{currentVersion}')
  body
    script(src='#{BASE_DIR}/scripts/params.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/util.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/log.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/animate.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/progressCircle.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/index.js#{currentVersion}')
    script(src='/scripts/googleanalytics.js')
