- var currentVersion = '?v=1.0.1';
- var BASE_DIR = '/chess';

doctype html
html(lang='en')
  head
    title
      | Chess
    meta(charset='utf-8')
    meta(name='description', content='A two-player game of chess')
    link(rel='shortcut icon', href='#{BASE_DIR}/images/favicon.ico#{currentVersion}')
    link(rel='stylesheet', href='#{BASE_DIR}/stylesheets/chess.css#{currentVersion}')
  body
    div#mainArea
      p#turnDisplay
        | It is 
        span#playerColor
          | white
        | &apos;s turn

      p#status

      p#notification

      #chessBoard
        | Sorry, but JavaScript must be enabled to play this game!

      button(id='randomMove', type='button')
        | Make Random Move

      button(id='startNewGame', type='button')
        | Start New Game

      #promotion
        h2
          | Select how to promote your pawn
        img(id='promoteToQueen', src='#{BASE_DIR}/images/whitequeen.png#{currentVersion}', alt='Promote to queen')
        img(id='promoteToRook', src='#{BASE_DIR}/images/whiterook.png#{currentVersion}', alt='Promote to rook')
        img(id='promoteToKnight', src='#{BASE_DIR}/images/whiteknight.png#{currentVersion}', alt='Promote to knight')
        img(id='promoteToBishop', src='#{BASE_DIR}/images/whitebishop.png#{currentVersion}', alt='Promote to bishop')

      h2
        | Directions
      p
        | First, tap a piece to select it. Then, tap on whichever square you want to move the piece to.
      p
        em
          | Note:
        |  Remember that once you have touched a piece, you must use that piece if at all possible.
      p
        em
          | Note:
        | In order to castle, select the king as the piece to move.

    script(src='#{BASE_DIR}/scripts/chessboard.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/chesspieces.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/chessgame.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/main.js#{currentVersion}')
    script(src='/home/scripts/googleanalytics.js#{currentVersion}')
